<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <style>
            @page {
                size: A4
            }
        </style>
        <title>Your Resume</title>
        <style>
            .education {
                display: inline-block;
                width: 100%;
            }

            .year {
                float: right;
            }

            .result {
                float: left;
            }
        </style>

        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="The Curriculum Vitae of Joe Bloggs." />
        <meta charset="UTF-8">

        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body id="top">
        <div id="cv" class="instaFade">
            <div class="mainDetails">


                <div id="name">
                    <h1 class="quickFade delayTwo">{{form.first_name}}  {{form.last_name}}</h1>
                </div>

                <div id="contactDetails" class="quickFade delayFour">
                    <ul>
                        {% if form.email %}
                        <li>e: <a href="mailto:{{form.email}}" target="_blank"></a></li>
                        {% endif %}
                        <li>m: {{form.mobile}}</li>
                        <p>Address: {{form.address}}</p>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>

            <div id="mainArea" class="quickFade delayFive">

                <section>
                    <div class="sectionTitle">
                        <h1>Work Experience</h1>
                    </div>

                    <div class="sectionContent">
                        <h1>{{ workExp.size }}</h1>
                        {% for work in workExp %}
                        <article>
                            <h2>{{work.title}}</h2>
                            <p>{{ work.start_date }} - {{ work.end_date }}</p>
                            <p> {{work.description}}</p>
                        </article>
                        {% endfor %}
                    </div>
                    <div class="clear"></div>
                </section>


                <section>
                    <div class="sectionTitle">
                        <h1>Key Skills</h1>
                    </div>

                    <div class="sectionContent">
                        <ul class="keySkills">
                            {% for skill in skills %}
                            <li>{{ skill.skill_detail }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="clear"></div>
                </section>


                <section>
                    <div class="sectionTitle">
                        <h1>Education</h1>
                    </div>

                    <div class="sectionContent">
                        {% for edu in education %}
                        <article>
                            <h2>{{ edu.institute }}</h2>
                            <p class="subDetails">{{ edu.degree }}</p>
                            {% if edu.stream %}
                            <p> {{ edu.stream }}</p>
                            {% endif %}

                            <div class="education">
                                <div class="year"> {{ edu.passing_year }} </div>
                                <div class="result">{{ edu.result }}</div>
                            </div>
                            {% endfor %}
                        </article>


                    </div>
                    <div class="clear"></div>
                </section>

            </div>
        </div>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            var pageTracker = _gat._getTracker("UA-3753241-1");
            pageTracker._initData();
            pageTracker._trackPageview();
        </script>

    </body>
</html>